services:
  web:
    # replace username/repo:tag with your name and image details
    image: alraro/practica2-software-critico:1.0.0
    ports:
      - "4000:80"
    networks:
      - webnet
    environment:
      - REDIS_HOST=redis

  redis:
    image: redis
    ports:
      - "6379:6379"
    deploy:
      placement:
        constraints: [ node.role == manager ]
    networks:
      - webnet

networks:
  webnet:
